body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
}
#map-container {
    text-align: center;
    padding: 20px;
}

#map {
    width: 600px;   /* Haritanın genişliği küçültüldü */
    height: 400px;  /* Haritanın yüksekliği küçültüldü */
    margin: 0 auto; /* Ortalamak için */
    border-radius: 10px; /* Kenarları yuvarlak yap */
    border: 2px solid #333; /* Çerçeve ekleyerek belirginleştir */
}


nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
}

footer {
    background-color: #333;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

